* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 7px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
  margin-top: 7px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
}

.title,
.button-container {
  margin-top: 7px;
  padding: 10px;
}